<!doctype html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block style %}
            <link rel="stylesheet" href={{ url_for('static', filename='style/style.css') }}>
        {% endblock %}
        <title>{% block title %}{{ title }} - {{ about_site }}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="sidebar">
        <div class="sidebar_inner">
            <header>
                {% block header %}
                    <h1>{{ title }}</h1>
                {% endblock %}
            </header>
            <div class="context_bar">
                {% block context_bar %}{% endblock %}
            </div>
            <div class="sidebar_elements">
                {% for link, name in [
                ("select_documents", "Генерация документов"),
                ("index", "Главная"),
                ] %}
                    <div class="sidebar_element {{ 'active-element' if request.path == url_for(link) }}">
                        <a href="{{ url_for(link) }}">
                            {% include "bases/icons/{}.svg".format(link) %}
                            <p class="element_name">
                                {{ name }}
                            </p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>