$page-bgc: #272822
$text-color: #bbb
$border-color: darken($text-color, 5%)

$card-min-width: 400px
$card-max-width: 600px

$card-border-color: #eee
$card-border-radius: 10px
$card-border-width: 1px

$card-shadow-size: 5px
$card-shadow-color: black
$card-shadow-blurring: 10px

$radio-field-radius: 24px

@import "sidebar"

html
  color: $text-color
  background-color: $page-bgc
  line-height: 1.5em
  font:
    family: "Comfortaa", sans-serif
    size: 18px
main
  margin-top: $sidebar-height * 2
  min-height: 100vh

.cards
  display: flex
  flex-wrap: wrap
  margin: 5%
  flex: 1 1 auto

.card
  background-color: $sidebar-color
  padding: 20px
  margin: 3px
  box-shadow: 0 0 $card-shadow-blurring (-$card-shadow-blurring + $card-shadow-size) $card-shadow-color

  flex-grow: 1
  min-width: $card-min-width
  max-width: $card-max-width
  width: unset
  aspect-ratio: 1.5
  box-sizing: border-box

  border:
    width: 3px
    style: solid
    color: $border-color
    radius: $card-border-radius
  &_inner
    display: grid
    grid-template-rows: 70% 30%
    margin: 10px
    svg
      display: block
      width: 80%
      aspect-ratio: 1
  &_text
    display: block
    width: 100%
    font-size: 30px

.main_block
  margin-left: 25%
  margin-right: 25%
details, .doc_selection, button, input[type=submit]
  color: $text-color
  font-weight: bold
  background-color: $sidebar-color
  margin:
    left: 20px
    right: 20px
    bottom: 5px
  padding: 10px
  border:
    color: $border-color
    style: solid
    width: 2px
    radius: 3px

button, input[type=submit]
  &:hover
    cursor: pointer
    background-color: darken($sidebar-color, 2%)
  &:active
    background-color: darken($sidebar-color, 4%)

.btn_block
  width: auto
  margin:
    left: 20px
    right: 20px
    bottom: 5px
  display: grid
  grid-template-columns: 70% 15% 15%
  button
    width: 100%
    box-sizing: border-box
    margin: 0

summary
  display: flex
  justify-content: space-between
  padding:
    left: 35px
    right: 10px
  .checkbox
    margin-top: 5px
  margin-top: 5px
  &::before
    position: absolute
    margin-left: -30px
    content: "ᐅ"

details[open] > summary::before
  content: "ᐁ"

.doc_selection
  box-sizing: border-box
  padding: 20px
  height: 70px
  display: flex
  justify-content: space-between
  align-items: center

  .checkbox
    margin-top: 10px

input[type=radio], input[type=checkbox]
  display: none
  + label
    display: inline-block
    cursor: pointer
    position: relative
    padding-left: $radio-field-radius + 5
    margin-right: 0
    line-height: 18px
    user-select: none
    &::before
      box-sizing: border-box
      display: inline-block
      content: ""
      width: $radio-field-radius
      height: $radio-field-radius
      position: absolute
      left: 0
      bottom: -1px
      border:
        width: 3.5px
        style: solid
        color: $text-color
        radius: $radio-field-radius / 2
    &::after
      background-color: $text-color
      box-sizing: border-box
      display: none
      content: ""
      width: $radio-field-radius / 3
      height: $radio-field-radius / 3
      position: absolute
      left: $radio-field-radius / 3
      bottom: $radio-field-radius / 3 - 1px
      border:
        radius: $radio-field-radius / 6
  &:checked
    + label
      &::before
        border:
          color: $text-color
          width: 4px
      &::after
        display: inline-block