@charset "UTF-8";
.sidebar {
  z-index: 10;
  position: fixed;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 50px;
  background-color: #595955;
  font-weight: bold;
  box-shadow: 5px 0 30px -25px black;
}

.sidebar_inner {
  display: grid;
  grid-template-columns: auto 0 100px;
  margin-right: 20px;
}

header {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: 50px;
  margin: 0;
  padding: 0 25px;
  line-height: 50px;
  background-color: #595955;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  color: #bbb;
}

.sidebar_elements {
  display: flex;
  justify-content: right;
  box-sizing: border-box;
  background-color: #595955;
  width: 100%;
  height: 40px;
}

.sidebar_element {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
.sidebar_element a, .sidebar_element button {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: #595955;
  border-width: 1px;
  border-style: solid;
  border-color: #474744;
  border-top: none;
  border-bottom: none;
  color: #83848a;
  text-decoration: none;
  font-size: 0.9em;
}
.sidebar_element a:hover, .sidebar_element button:hover {
  background-color: #5e5e5a;
}
.sidebar_element a svg, .sidebar_element button svg {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 12.5px;
  fill: #bbb;
  stroke: #bbb;
  stroke-width: 2px;
}
.sidebar_element a p, .sidebar_element button p {
  display: none;
  margin: 0 0 0 45px;
  padding: 0;
}
.sidebar_element button {
  width: auto;
  min-width: 50px;
  font-weight: bold;
}
.sidebar_element button svg {
  position: absolute;
  left: 0;
  top: 0;
}
.sidebar_element.active-element a {
  border-bottom: 5px solid #bbb;
  background-color: #666661;
  color: #bbb;
  box-shadow: 0 0 10px -7px black;
}
.sidebar_element.active-element a:hover {
  background-color: #545450;
}
.sidebar_element.active-element svg {
  fill: #bbb;
  stroke: #bbb;
}

html {
  color: #bbb;
  background-color: #272822;
  line-height: 1.5em;
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
}

main {
  padding-top: 100px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
}

.cards {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.card {
  flex-grow: 1;
  flex-shrink: 0;
  width: 575px;
  min-width: 575px;
  max-width: 575px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  background-color: #595955;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px -5px black;
  grid-template-rows: 70% 30%;
  box-sizing: border-box;
  border-width: 3px;
  border-style: solid;
  border-color: #aeaeae;
  border-radius: 10px;
}
.card_inner {
  display: grid;
  grid-template-rows: 80% 20%;
  margin: 10px;
}
.card_inner .card_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_inner .card_img svg {
  height: 100%;
}
.card_text {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #bbb !important;
}

.main_block {
  margin-left: 25%;
  margin-right: 25%;
}

details, .doc_selection, button,
input[type=submit], label[for=all_checkboxes] {
  color: #bbb;
  font-weight: bold;
  background-color: #595955;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 10px;
  border-color: #aeaeae;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
}

.doc_selection, .doc_selection + input[type=submit] {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
  background-color: #545450;
}
button:active, input[type=submit]:active {
  background-color: #4f4f4b;
}

.btn_block {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  display: grid;
}
.btn_block.docs {
  grid-template-columns: 50% 15% 15% 20%;
}
.btn_block.tables {
  grid-template-columns: 80% 20%;
}
.btn_block * {
  width: 100%;
  height: 40px;
  line-height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-size: 13.2px;
  font-weight: bold;
  font-family: Comfortaa;
}
.btn_block input[type=checkbox] + label {
  text-align: center;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.btn_block input[type=checkbox] + label::before, .btn_block input[type=checkbox] + label::after {
  display: none !important;
}
.btn_block input[type=checkbox] + label .checked {
  display: none;
}
.btn_block input[type=checkbox] + label .unchecked {
  display: initial;
}
.btn_block input[type=checkbox]:checked + label {
  background-color: #bbb;
  color: #595955;
}
.btn_block input[type=checkbox]:checked + label .checked {
  display: initial;
}
.btn_block input[type=checkbox]:checked + label .unchecked {
  display: none;
}

summary {
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 10px;
  margin-top: 5px;
}
summary .checkbox {
  margin-top: 5px;
}
summary::before {
  position: absolute;
  margin-left: -30px;
  content: "ᐅ";
}

details[open] > summary::before {
  content: "ᐁ";
}

.doc_selection {
  box-sizing: border-box;
  padding: 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.doc_selection .checkbox {
  margin-top: 10px;
}

input[type=radio], input[type=checkbox] {
  display: none;
}
input[type=radio] + label, input[type=checkbox] + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 29px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
input[type=radio] + label::before, input[type=checkbox] + label::before {
  box-sizing: border-box;
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-width: 3.5px;
  border-style: solid;
  border-color: #bbb;
  border-radius: 12px;
}
input[type=radio] + label::after, input[type=checkbox] + label::after {
  background-color: #bbb;
  box-sizing: border-box;
  display: none;
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 8px;
  bottom: 7px;
  border-radius: 4px;
}
input[type=radio]:checked + label::before, input[type=checkbox]:checked + label::before {
  border-color: #bbb;
  border-width: 4px;
}
input[type=radio]:checked + label::after, input[type=checkbox]:checked + label::after {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
