{% extends base %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="cards select_mode">
        <a href="{{ url_for('select_students') }}" class="card">
            <div class="card_inner">
                <div class="card_img"></div>
                <span class="card_text">Генерация документов</span>
            </div>
        </a>
        <a class="card">
            <div class="card_inner">
                <div class="card_img"></div>
                <span class="card_text">Генерация таблицы учеников</span>
            </div>
        </a>
    </div>

{% endblock %}